h1 {

text-align: center;

}

.column1 {
  padding-top: 50px;
  float: left;
  width: 200px;
}

.column2 {
  padding-left: 100px;
  padding-top: 50px;
  float: left;
  width: 500px;
}

body {
  background-color: lightgreen;
}
